* {
    margin: 0%;
    padding: 0%;
}
html {
    font-size: 18px;
    font-family: Roboto;
    background-color: #ECB524;
}
header {
    background-color: #ECB524;
    text-align: center;
}

footer {
    background-color: #ECB524;
    padding: 20px 50px;
    color: #071B2F;
    margin-top: 20px;
}

p {
    padding: 5px;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.2rem;


}

p::first-line{
    letter-spacing: 20px;

}

h1 {
    text-transform: lowercase;
    color: #071B2F;
    font-size: 2rem;
    font-style: italic;
}

h2{
    font-size: 1.5rem;
    text-decoration: underline;
    text-align: center;
}


#content {
    padding: 20px 100px;
    background-color: #071B2F;
    color: #ECB524;
    margin-left: 40px;
    margin-right: 40px;
}

#about {
    background-color: #071B2F;
    text-align: center;
    color: #ECB524;
    margin-left: 40px;
    margin-right: 40px;
}

#feedback{
    background-color: #071B2F;
    
    color: #ECB524;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 1.1em;
    
    padding-left: 40px;
}

#img {
    background-color: #071B2F;
    text-align:center;
}
.round{
    border-radius:100px;
}
.date{
    text-align:right;
}

dl {
    padding: 10px;
    font-size:1.4rem;
}

ul{
    font-size:1.4rem;
}

img {
    border-radius: 50%;
    border:groove;
    box-shadow: 10px 5px 5px red;
}

a:hover{
    background: #ECB524;
}
a:focus{
    text-align:left;
}
dd:lang(en) {
    font-size: 10pt;
}

ol li:nth-child(2n) {
    color:aqua;
}

.main-img {
    border: dotted;
}

.new::after {
    content: "Важно!!!";
    border: 10px, double;
    color:aqua;
}
img+p{
    margin-top: 100px;
}
dt{
    font-weight: 700;
}

div{
    background-color: #071B2F;
}




tr:nth-child(2n) {
    color: white;
    font-style: italic
}


th{
    text-align: left;
    font-style: italic;
}

td:nth-child(3){
    background-color: #ECB524;
}    

label{
    font-style:italic;
}

#contact-form input[type = "text"] {
    height: 20px;
    width: 300px;
    padding: 5px;
    margin-bottom: 10px;
    border: white solid 1px;
    background-color: #ECB524;
    font-size: 1.15rem;
}

#contact-form input[type="submit"] {
    height: 50px;
    width: 150px;
    padding: 5px;
    margin-bottom: 10px;
    border: white solid 1px;
    background-color: #ECB524;
    font-size: 1.2rem;
}
#contact-form input[type="submit"]:hover {
    height: 30px;
    width: 120px;
    padding: 5px;
    margin-bottom: 10px;
    border: rgb(44, 2, 83) solid 1px;
    background-color: whitesmoke;
}
#contact-form textarea {
    height: 150px;
    width: 300px;
    padding: 5px;
    margin-bottom: 10px;
    border: white solid 1px;
    background-color: #ECB524;
    font-size: 1.15rem;
}
#contact-form option {
    height: 20px;
    width: 300px;
    padding: 5px;
    margin-bottom: 10px;
    border: white solid 1px;
    background-color: #ECB524;
    font-size: 1.15rem;
}
#contact-form select[type="theme"] {
    width: 300px;
    padding: 5px;
    margin-bottom: 10px;
    border: white solid 1px;
    background-color: #ECB524;
    font-size: 1.15rem;
}

#contact-form select[type="theme"]:hover{
    background-color: whitesmoke;
}
